# Plaid API Credentials
# Sign up at https://dashboard.plaid.com/signup to get these

PLAID_CLIENT_ID=YOURTOKENHERE
PLAID_SECRET=YOURSECRETHERE
PLAID_ENV=sandbox

# Optional: Access Token (will be created by 'setup' command)
# PLAID_ACCESS_TOKEN=access-sandbox-xxx
